body {
  margin: 0;
  padding: 0px;
  font-family: 'Courier New', Courier, monospace;
  display: grid;
  background: #d7dce7;
  background-image: url(./binaryBackground.jpg);
}

a {
  color: #fff;
}

header {
  background: #2e73ac;
  color: #fff;
  font-family: Impact, sans-serif;
  font-weight: 300;
  font-style: normal;
  padding-top: 135px;
  text-align: right;
  padding-right: 180px;
  background-image: url(./cassette.gif);
  background-repeat: no-repeat;
}
main {
  min-height: 80vh;
  background: #fff;
  background-image: url(./binaryBackground.jpg);
}
main .controls {
  text-align: center;
  padding: 0.5em 0;
  background: #333e5a;
  color: #fff;
}
main canvas {
  padding: 20px;
  margin: 0 auto;
  display: block;
}
footer {
  background: #a72541;
  color: #fff;
  text-align: center;
}
